<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:b="http://www.springframework.org/schema/mvc"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')" />
        <!-- <intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')" requires-channel="https"/> -->
        <intercept-url pattern="/home**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" />
        <intercept-url pattern="/welcome**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" />

        <!-- <intercept-url pattern="/login**" access="permitAll" /> needed for custom form -->

        <!-- <intercept-url pattern="/**" access="permitAll" /> -->

        <!-- <intercept-url pattern="/openidLogin**" access="permitAll" /> -->

        <intercept-url pattern="/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" />

        <access-denied-handler error-page="/accessdenied"/>

        <session-management invalid-session-url="/sessionTimeout">
            <concurrency-control max-sessions="1" />
        </session-management>

        <!-- <http-basic/> -->
        <!-- <form-login
                login-processing-url="/j_spring_security_check"
                login-page="/login"
                default-target-url="/"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password" /> -->

        <logout logout-success-url="/login?logout" invalidate-session="true" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="bcrypt"/>
            <user-service>
                <user name="admin" password="$2a$10$.OxKBZeH7nhXh9XC58iLUOAxkg066OjwxZuKaXeLD/FIb9JXngWvy" authorities="ROLE_USER,ROLE_ADMIN"/>
                <user name="user" password="$2a$10$iFl1wjuT46oXhpXKSPet3O4ImJEvJsqg3H.Zyz3jPTeLWQn/MHy4." authorities="ROLE_USER"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>

<!-- $2a$10$.OxKBZeH7nhXh9XC58iLUOAxkg066OjwxZuKaXeLD/FIb9JXngWvy -->